#title {
	text-align: center;
	position: center;
	width: 500;
}

.center {
	margin: auto;
	width: 500;
}

p.margin {
	margin-top: 100px;
	margin-bottom: 10px;
	margin-right: 100px;
	margin-left: 100px;
}

body {
	font-family: Lucida Sans Unicode;
}

.address {
	font-style:italic;
}

#wrapper {
	padding: 20px;
}

#wrapper div {
	margin: 5px 0;
}

#wrapper div.example, #wrapper div.address {
	margin: 0;
}

#wrapper div.example {
	padding: 10px;
	background-color: #DDD;
	font-size: 12px;
}

pre {
	padding: 10px;
	border: 1px solid #DDD;
}

.contact h5 {
	margin: 10px;
}